<div class="navbar-container">
    <!-- Logo -->
    <div class="logo-container">
        <img src="assets/vivas_logo.svg" alt="Logo" class="logo" />
    </div>

    <!-- Menú de navegación (visible en pantallas grandes) -->
    <div class="navigation-menu">
        <a href="#work" class="menu-link">Work</a>
        <a href="#contact" class="menu-link">Contact</a>
        <a href="#shop" class="menu-link">Shop</a>
    </div>

    <!-- Botón de menú (visible solo en pantallas pequeñas) -->
    <div class="mobile-menu">
        @if (!isMenuVisible) {
        <button (click)="toggleMenu()" class="menu-button">
            ☰
        </button>
        }
    </div>
</div>
